/eula.txt
/cache
/logs
/server.properties
/world*
/*.json
/*.yml
/plugins/*
/plugins/Multiverse*/worlds.yml
/plugins/Multiverse*/scripts

!/.github/*/*.yml
!/plugins/*.jar
!/plugins/Multiverse*/
!/*example.yml
!/commands*